---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
      date: "Saat Ini",
      title: "Software Engineer",
      company: "Gojek",
      description:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae facilisis enim. Praesent nec lacus nec justo sollicitudin sodales. Nunc a sapien porta, fermentum turpis at, porttitor orci.",
      link: "https://twitch.tv/midudev",
    },
    {
      date: "September 2022",
      title: "Principal Frontend Engineer",
      company: "Aramco",
      description:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu ex eu magna dictum commodo. Curabitur tincidunt sapien ac purus accumsan, nec laoreet orci lobortis. Vivamus convallis, ligula vitae suscipit sagittis, magna justo mattis purus.",
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
