---
---
<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="size-4" role="img">
    <title>BeautifulSoup</title>
    <path d="M2 12a10 10 0 1020 0H2zm16.8 2c-.9 1.8-3.5 3-6.8 3s-5.9-1.2-6.8-3h13.6zM10 5s-.5 1 .5 2S10 9 10 9s-.5-1 .5-2S10 5 10 5zm4 0s-.5 1 .5 2S14 9 14 9s-.5-1 .5-2S14 5 14 5z"/>
  </svg>  