---
---
<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="currentColor" class="size-4">
    <title>Visual Studio Code</title>
    <path d="M1.857 4.6c-.41.258-.738.89-.738 1.397v12.005c0 .512.329 1.134.74 1.4l3.313 2.076 2.984-2.65 3.803 3.01c.404.32 1.07.368 1.49.107l9.325-5.692c.41-.257.738-.89.738-1.397V5.748c0-.512-.329-1.14-.74-1.4L14.647.37c-.41-.262-1.074-.21-1.49.106L1.857 4.6zm15.47 2.254v10.287l-3.66 1.908-6.218-6.047 6.218-6.057 3.66 1.91zm-12.73.465l3.676 3.57-3.676 3.574V7.32z"/>
  </svg>  